<a href="https://colab.research.google.com/github/Romulo-Anjos/P4E_Course/blob/master/Python_for_everybody_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Regular Expressions**

Reading all the numbers in a txt file and return the sum of all

In [0]:
import re
text =  open('regex_sum_410838.txt') #opening the file
numlist =  list()

for line in text: # reading each line on the file
  i = 0
  num_text =  re.findall('([0-9]+)',line) # finding all numbers 
  if len(num_text) < 1: # excluding the lines without number
    continue
  for i in num_text:
   numlist.append(float(i)) # adding each new number to numlist list 
print (sum(numlist)) # showing the sum of all number in the file

539192.0

# **Network Programming**

1 - Reading a page from "Python for Everybody" using sockets

In [0]:
import socket

mysock =  socket.socket(socket.AF_INET, socket.SOCK_STREAM) #creating the socket to communicate
mysock.connect(('data.pr4e.org',80))
cmd = 'GET http://data.pr4e.org/romeo.txt HTTP/1.0\r\n\r\n'.encode() #encoding the bytes to UTF-8
mysock.send(cmd) # send the message to the server

while True:
  data = mysock.recv(512) #receive 512 bytes on each data package
  if (len(data) < 1):
    break # stopping receiving when the data is 0
  print(data.decode(), end='') # decoding and print the website
mysock.close()

HTTP/1.1 200 OK
Date: Wed, 01 Apr 2020 18:07:14 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "a7-54f6609245537"
Accept-Ranges: bytes
Content-Length: 167
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

But soft what light through yonder window breaks
It is the east and Juliet is the sun
Arise fair sun and kill the envious moon
Who is already sick and pale with grief

2 - Reading a page from "Python for Everybody" using urllib library

In [0]:
import urllib as url

fhand = url.request.urlopen('http://data.pr4e.org/romeo.txt')
for line in fhand:
    print(line.decode().strip())

TypeError: ignored

3 -  Using *Beautiful Soups*

In [0]:
import urllib as url
from bs4 import BeautifulSoup

address = input('Enter -')
html = url.request.urlopen(address).read()
soup = BeautifulSoup(html,'html.parser')

# Retrieve all of the anchor tags
tags = soup('a')
for tag in tags:
  print(tag.get('href', None))

Enter -http://www.dr-chuck.com/page2.htm
page1.htm

**Exercise 1**

Request-Response Cycle

In [0]:
import socket

mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/intro-short.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if len(data) < 1:
        break
    print(data.decode(),end='')

mysock.close()

HTTP/1.1 200 OK
Date: Wed, 01 Apr 2020 18:33:39 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "1d3-54f6609240717"
Accept-Ranges: bytes
Content-Length: 467
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

Why should you learn to write programs?

Writing programs (or programming) is a very creative
and rewarding activity.  You can write programs for
many reasons, ranging from making your living to solving
a difficult data analysis problem to having fun to helping
someone else solve a problem.  This book assumes that
everyone needs to know how to program, and that once
you know how to program you will figure out what you want
to do with your newfound skills.

**Exercise 2**

Scraping HTML Data with BeautifulSoup
Retrieve the sum of all lines for the table located at: http://py4e-data.dr-chuck.net/comments_42.html

In [0]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl
import re

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

#url = input('Enter - ')
html = urlopen('http://py4e-data.dr-chuck.net/comments_42.html', context=ctx).read()
soup = BeautifulSoup(html, "html.parser")
num = 0

#Retrieve all of the spams tags
for tag in soup('span'): 
  num = int(tag.contents[0])+num
print(num)

**Exercise 3**

Following Links in Python: find the last name located on the tree: http://py4e-data.dr-chuck.net/known_by_Darl.html

In [0]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

count = 0

url = input('Enter the first adress ')
html = urllib.request.urlopen(url, context=ctx).read()
soup = soup = BeautifulSoup(html, 'html.parser')
for tag in soup('a', limit = 18): #looking for the 18th link on the page
  link = tag.get('href')

while count < 6: #loop to find the next 6 jumps (18th link for each page)
  html = urllib.request.urlopen(link, context=ctx).read()
  soup = soup = BeautifulSoup(html, 'html.parser')
  for tag in soup('a', limit = 18):
    link = tag.get('href')
  count = count+1
print(link)

# **Web Services using Python**

1 - Reading XLM files

In [0]:
import xml.etree.ElementTree as ET
input = '''<stuff>
    <users>
        <user x="2">
            <id>001</id>
            <name>Chuck</name>
        </user>
        <user x="7">
            <id>009</id>
            <name>Brent</name>
        </user>
    </users>
</stuff>'''

stuff = ET.fromstring(input)
lst = stuff.findall('users/user')
#print('User count:',len(lst))
for item in lst:
    print('looking for new user...')
    print('Id:', item.find('id').text)
    print('Name:', item.find('name').text)
    print('Attribute:', item.get("x"))

2 - Reading JSON files

In [0]:
import json

input = '''[
  { "id" : "001",
    "x" : "2",
    "name" : "Chuck"
  } ,
  { "id" : "009",
    "x" : "7",
    "name" : "Chuck"
  }
]'''

info = json.loads(input)
print ('User count:', len(info))
for user in info:
    print('Name:', user["name"])
    print('Id:', user["id"])
    print('Attribute:', user["x"])

Exercise 1

Extracting and sum the numbers from a XML file

In [0]:
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

address = input('Enter location: ') 

print('Retrieving', address)
url = urllib.request.urlopen(address, context=ctx) #sending the request

data = url.read() #reading the data received
print('Retrieved', len(data), 'characters') #show the number of received characters
tree = ET.fromstring(data) #transform the data in string
results = tree.findall(".//count") #look for the data from the count tag
print('Count:', len(results))

sum = 0
for item in results:
    sum = int(item.text)+sum #sum the values from the count tag
print(sum)

Exercise 2

Extracting and sum the numbers from a JSON file

In [0]:
import json
import urllib.request, urllib.parse, urllib.error
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

address = input('Enter location: ') 

print('Retrieving', address)
url = urllib.request.urlopen(address, context=ctx) #sending the request

data = url.read() #reading the data received
print('Retrieved', len(data), 'characters') #show the number of received characters
info = json.loads(data) #transform the data in string
info_2 = info["comments"] #get the values for the list of comments
print('User count:', len(info_2))

sum = 0
for item in info_2:
    #print(item["count"])
    sum = int(item["count"])+sum
print("Sum:", sum)

#**Databases**

1 - Counting Organizations (TXT File)

This application will read the mailbox data (mbox.txt) and count the number of email messages per organization (i.e. domain name of the email address) using a database with the following schema to maintain the counts.

In [0]:
import sqlite3

conn = sqlite3.connect('results.sqlite') # creates a new SQLite file
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''') #Create the table on SQL 

fh = open('mbox.txt') # reads the txt file
for line in fh:
    if not line.startswith('From: '): continue
    org = line.split()[1].split('@')[1] # get the information after the @ (organization)
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,)) #put the information on the table
    row = cur.fetchone()
    if row is None: # if this is the first appearance
        cur.execute('''INSERT INTO Counts (org, count) 
              VALUES (?, 1)''', (org,)) #
    else: #incrementing the counting for the organization that appeared before
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))
conn.commit()

sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10' # doing a quary at SQLite to returns the top 10 organization

for row in cur.execute(sqlstr):
    print("Organization:",str(row[0]), "Number of emails:", row[1])

cur.close()

Organization: iupui.edu Number of emails: 536
Organization: umich.edu Number of emails: 491
Organization: indiana.edu Number of emails: 178
Organization: caret.cam.ac.uk Number of emails: 157
Organization: vt.edu Number of emails: 110
Organization: uct.ac.za Number of emails: 96
Organization: media.berkeley.edu Number of emails: 56
Organization: ufp.pt Number of emails: 28
Organization: gmail.com Number of emails: 25
Organization: et.gatech.edu Number of emails: 17

2 - Musical Track Database (XML File)

This application will read an iTunes export file in XML and produce a properly normalized database

In [0]:
import xml.etree.ElementTree as ET  #importing the libraries
import sqlite3

conn = sqlite3.connect('exercise3.sqlite')
cur = conn.cursor() # writes the information inside the SQLlite

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
DROP TABLE IF EXISTS Genre;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id INTEGER, 
    len INTEGER, rating INTEGER, count INTEGER
);
''')

def lookup(d, key): # function that creates the table structure
    found = False
    for child in d:
        if found : return child.text # returns the information
        if child.tag == 'key' and child.text == key : # looks if there is any value for the line
            found = True
    return None #returns nothing

stuff = ET.parse('Library.xml') # reading the XML file 
all = stuff.findall('dict/dict/dict') # extracting the information for the third level
print('Dict count:', len(all)) 

for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue
    # look for the informationof each line of XML file
    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    count = lookup(entry, 'Play Count')
    rating = lookup(entry, 'Rating')
    length = lookup(entry, 'Total Time')
    genre = lookup(entry,  'Genre')

    if name is None or artist is None or album is None or genre is None: 
        continue

    #print(name, artist, album, count, rating, length, genre)

    cur.execute('''INSERT OR IGNORE INTO Artist (name)
        VALUES ( ? )''', ( artist, ) ) #execute the SQL file to fill the Artist Table =
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, )) #looks for the id of the artist
    artist_id = cur.fetchone()[0] #get the id of the artist

    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) ) #fills the Genre of the track
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) ) #fills the Album Table
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, len, rating, count, genre_id) 
        VALUES ( ?, ?, ?, ?, ?, ? )''', 
        ( name, album_id, length, rating, count, genre_id ) ) # filss the Track Table
    
sqlstr = 'SELECT Track.title, Artist.name, Album.title, Genre.name FROM Track JOIN Genre JOIN Album JOIN Artist ON Track.genre_id = Genre.id AND Track.album_id  = Album.id AND Album.artist_id =  Artist.id ORDER BY Artist.name LIMIT 3'

for row in cur.execute(sqlstr):
    print("\n","Track:",str(row[0]), "Artist:", row[1], "Album:", str(row[2]), "Genre:", str(row[3]))

conn.commit()

Dict count: 404

 Track: For Those About To Rock (We Salute You) Artist: AC/DC Album: Who Made Who Genre: Rock

 Track: Hells Bells Artist: AC/DC Album: Who Made Who Genre: Rock

 Track: Shake Your Foundations Artist: AC/DC Album: Who Made Who Genre: Rock

3 - Analizing the JSON file

This application will read roster data in JSON format, parse the file, and then produce an SQLite database that contains a User, Course, and Member table and populate the tables from the data file.

In [0]:
import json
import sqlite3

conn = sqlite3.connect('exercise1.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

str_data = open('roster_data.json').read() #reading the JSON file...
json_data = json.loads(str_data)

for entry in json_data:
    #get the information from the file 
    name = entry[0];
    title = entry[1];
    role = entry[2];

    # Complete the tables with information
    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?,? )''',
        ( user_id, course_id, role ) )

conn.commit()

sqlstr = 'SELECT hex(User.name || Course.title || Member.role ) AS X FROM User JOIN Member JOIN Course ON User.id = Member.user_id AND Member.course_id = Course.id ORDER BY X LIMIT 5'

for row in cur.execute(sqlstr):
    print("Results:",str(row[0]))

Results: 4162696861736931313030
Results: 4162726168616D736932303630
Results: 4162726172736934333030
Results: 416461696E736931313030
Results: 41647269616E736933363330